body{
    background: url("../img/volcan.jpg");
    background-position: left;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
/* scrollUp button */
#scrollUp {
    position: fixed;
    bottom: 1px;
    right: -100px;
    font-size: 35px;
}

.scrollUpColor {
    color: #1a4867;
    opacity: 0.7;
}

/* scrollUp button */
/* Img 404 */
.img404 {
    width: 10rem;
}

/* Img 404 */
/* Size logo partenaires */
.partnerLogo {
    height: 40px;
}

/* Size logo partenaires */
/* Size logo navbar */
.lhp3Logo {
    height: 30px;
}

/* Size logo navbar */
/* Size logo title */
.lhp3LogoTitle {
    height: 16px;
}

/* Size logo title */
/* Size avatar avis */
.sizeAvatarView {
    height: 50px;
}

/* Size avatar avis */
/* Size picture programmation */
.sizeShowView {
    height: 150px;
}

/* Size picture programmation */
/* position barre de recherche */
.marginButtonSearch {
    margin-top: .5rem;
    margin: 1rem;
}

.marginInputSearch {
    margin-top: .2rem;
    margin-left: 1rem;
    width: 50%;
}
.bgTranslu {
    background-color: transparent;
    box-shadow: none;
}
.bgTransluCard {
    background-color: #1a486771;
}
/* position barre de recherche */
/* Fonts */
.fontBankGothic {
    font-family: "BankGothic Md BT";
}

@font-face {
    font-family: "BankGothic Md BT";
    src: url("../font/BankGothic Md BT.ttf");
}

/* Fonts */
/* Text size */
.textSize1 {
    font-size: 6rem;
}
.textSize2 {
    font-size: 4rem;
}
.textSize3 {
    font-size: 2rem;
}
/* Text size */
/* Text color */
.textColor1 {
    color: #2dabe3;
}
.textColor2 {
    color: #1a4867;
}
/* Text color */
/* Zoom card programming */
.media {
    -webkit-transition: all 0.5s ease;
    /* Safari et Chrome */
    -moz-transition: all 0.5s ease;
    /* Firefox */
    -ms-transition: all 0.5s ease;
    /* Internet Explorer 9 */
    -o-transition: all 0.5s ease;
    /* Opera */
    transition: all 0.5s ease;
}

.media:hover {
    /* L'image est grossie de 25% */
    -webkit-transform: scale(1.01);
    /* Safari et Chrome */
    -moz-transform: scale(1.01);
    /* Firefox */
    -ms-transform: scale(1.01);
    /* Internet Explorer 9 */
    -o-transform: scale(1.01);
    /* Opera */
    transform: scale(1.01);
}
/* Zoom card programming */