/* scrollUp button */
#scrollUp {
    position: fixed;
    bottom: 1px;
    right: -100px;
    font-size: 35px;
}

.scrollUpColor {
    color: #7ad19e;
    opacity: 0.7;
}

/* scrollUp button */
/* Img 404 */
.img404 {
    width: 10rem;
}
/* Img 404 */
/* Size logo partenaires */
.partnerLogo {
	height: 40px;
}